.form-check-input {
    width: auto;
    /* Set to the desired width */
}

/* input:focus {
    outline: none;
} */

body {
    background-color: #e6ecf0;
}

body.error-404 {
    background-color: #1da1f2;
}

.form-control {
    margin-bottom: 20px;
}

.btn {
    border-radius: 50px;
}

.btn:hover {
    cursor: pointer;
}

/* ======================= Nav */

.navbar {
    background-color: #fff;
    height: 46px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
    position: relative;
    z-index: 9999;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-brand,
.navbar-nav .nav-item {
    margin-right: 10px;
    list-style-type: none;
}

.navbar-header {
    margin-right: 10px;
    list-style-type: none;
}


#translate-form #direction-en,
#translate-form #direction-zh {
    -webkit-appearance: radio;
    /* For WebKit browsers like Chrome and Safari */
    -moz-appearance: radio;
    /* For Mozilla Firefox */
    appearance: radio;
    /* Standard property */
}


.white-box {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 6px 12px;
    min-height: 110px;
    /* Set to at least 100% of the parent container */
}

button {
    margin-top: 1em;
}

.custom-textarea {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    margin-bottom: 0;
}

.fa-trash {
    position: absolute;
    bottom: 24px;
    right: 16px;
}

.fa-trash:hover {
    cursor: pointer;
}

.fa-star {
    position: absolute;
    top: 8px;
    right: 16px;
}

.fa-star:hover {
    cursor: pointer;
}

.fa-exchange-alt:hover {
    cursor: pointer;
}

#switch-direction {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#source-language {
    margin-right: 3em;
}

.list-group-item {
    border-radius: 10px;
    /* Adjust the value as per your preference */
}

.list-group-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.list-group-item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#translation-container {
    text-align: left;
}