.form-check-input {
    width: auto;
    /* Set to the desired width */
}

/* input:focus {
    outline: none;
} */

body {
    background-color: #e6ecf0;
}

body.error-404 {
    background-color: #1da1f2;
}

.form-control {
    margin-bottom: 20px;
}

.btn {
    border-radius: 50px;
}

.btn:hover {
    cursor: pointer;
}

/* ======================= Nav */

.navbar {
    background-color: #fff;
    height: 46px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
    position: relative;
    z-index: 9999;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-brand,
.navbar-nav .nav-item {
    margin-right: 10px;
    list-style-type: none;
}

.navbar-header {
    margin-right: 10px;
    list-style-type: none;
}


#translate-form #direction-en,
#translate-form #direction-zh {
    -webkit-appearance: radio;
    /* For WebKit browsers like Chrome and Safari */
    -moz-appearance: radio;
    /* For Mozilla Firefox */
    appearance: radio;
    /* Standard property */
}


.white-box {
    background-color: #ffffff;
    /* Set background color to white */
    border: 1px solid #ddd;
    /* Add a border for separation */
    border-radius: 8px;
    /* Add rounded corners for a softer look */
    padding: 15px;
    /* Add padding inside the box */
    margin-bottom: 20px;
    /* Add some space between boxes */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow for depth */
}

/* Optional: Center the content inside the white box */
.white-box .text-center {
    margin: 0 auto;
}

/* Optional: Style the headings inside the white box */
.white-box h2,
.white-box h3 {
    color: #333;
    /* Set heading color */
}

.fa-trash {
    position: absolute;
    bottom: 24px;
    right: 16px;
}

.fa-trash:hover {
    cursor: pointer;
}

.fa-star {
    position: absolute;
    top: 8px;
    right: 16px;
}

.fa-star:hover {
    cursor: pointer;
}